[Unit]
Description=Userspace KSM helper daemon
ConditionPathExists=/proc/self/ksm

[Service]
Type=forking
ExecStart=/usr/bin/uksmd

[Install]
WantedBy=multi-user.target
