[Unit]
Description=Userspace KSM helper daemon
Documentation=https://gitlab.com/post-factum/uksmd
ConditionPathExists=/proc/self/ksm

[Service]
Type=forking
User=uksmd
Group=uksmd
DynamicUser=true
CapabilityBoundingSet=CAP_SYS_PTRACE CAP_DAC_OVERRIDE
AmbientCapabilities=CAP_SYS_PTRACE CAP_DAC_OVERRIDE
PrivateNetwork=yes
RestrictAddressFamilies=none
RestrictNamespaces=true
PrivateDevices=true
DevicePolicy=closed
NoNewPrivileges=true
PrivateTmp=true
ProtectClock=true
ProtectControlGroups=true
ProtectHome=true
ProtectKernelLogs=true
ProtectKernelModules=true
ProtectKernelTunables=true
ReadWritePaths=/sys/kernel/mm/ksm/run
ProtectSystem=strict
RestrictSUIDSGID=true
SystemCallArchitectures=native
RestrictRealtime=true
LockPersonality=true
MemoryDenyWriteExecute=true
RemoveIPC=true
UMask=066
ProtectHostname=true
IPAddressDeny=any
SystemCallFilter=@system-service
SystemCallFilter=~@privileged @resources
ExecStart=/usr/bin/uksmd

[Install]
WantedBy=multi-user.target
